# Temperature forecast data example (Turku Artukainen)

Info about FMI open data https://en.ilmatieteenlaitos.fi/open-data

In [1]:
import datetime
import pandas as pd
import re
import requests
import xml.etree.ElementTree as et
from io import StringIO

api_url = 'https://opendata.fmi.fi/wfs'

In [2]:
def get_fmidata(parameters):
    r = requests.get(f'{api_url}?{parameters}')
    # XML root and namespaces
    root = et.fromstring(r.text)
    namespaces = dict([node for _, node in et.iterparse(StringIO(r.text), events=['start-ns'])])
    # Extract name list
    names = list(map(lambda f: f.attrib['name'] ,root.findall('.//swe:field', namespaces)))
    # Extract Unix timestamps
    timestamps = re.split(r'\s+',root.find('.//gmlcov:positions', namespaces).text)[3:-1:3]
    # Convert Unix timestamps to datetimes with Helsinki timezone
    datetimeindex = pd.to_datetime(sorted(timestamps*len(names)), unit='s')
    datetimeindex = datetimeindex.tz_localize(tz='UTC').tz_convert('Europe/Helsinki')
    # Extract data
    data = re.split(r'\s+',root.find('.//gml:doubleOrNilReasonTupleList', namespaces).text)[1:-1]
    # Get URL for and print property explanations
    property_url = root.find('.//om:observedProperty', namespaces).attrib[
        '{http://www.w3.org/1999/xlink}href']
    print(f'Properties: {property_url}')
    # Create and return DataFrame
    df = pd.DataFrame({
        'name': names*len(timestamps), 
        'data': data}, 
        index=datetimeindex)
    return df

In [3]:
# Get geoids from https://www.geonames.org
geoid = 660972 # Turku, Artukainen
# List of stored queries https://ilmatieteenlaitos.fi/tallennetut-kyselyt
query = 'fmi::forecast::hirlam::surface::point::multipointcoverage'
df = get_fmidata(f'request=getFeature&storedquery_id={query}&geoid={geoid}')
temperature = df[df['name']=='Temperature']
temperature

Properties: https://opendata.fmi.fi/meta?observableProperty=forecast&param=GeopHeight,Temperature,Pressure,Humidity,WindDirection,WindSpeedMS,WindUMS,WindVMS,MaximumWind,WindGust,DewPoint,TotalCloudCover,WeatherSymbol3,LowCloudCover,MediumCloudCover,HighCloudCover,Precipitation1h,PrecipitationAmount,RadiationGlobalAccumulation,RadiationLWAccumulation,RadiationNetSurfaceLWAccumulation,RadiationNetSurfaceSWAccumulation,RadiationDiffuseAccumulation,LandSeaMask&language=eng

                                  name   data
2019-04-29 22:00:00+03:00  Temperature    6.6
2019-04-29 23:00:00+03:00  Temperature   5.15
2019-04-30 00:00:00+03:00  Temperature    4.1
2019-04-30 01:00:00+03:00  Temperature   3.57
2019-04-30 02:00:00+03:00  Temperature   3.34
2019-04-30 03:00:00+03:00  Temperature   3.14
2019-04-30 04:00:00+03:00  Temperature   2.83
2019-04-30 05:00:00+03:00  Temperature    2.7
2019-04-30 06:00:00+03:00  Temperature   2.42
2019-04-30 07:00:00+03:00  Temperature   2.81
2019-04-30 08:00:00+03:00  Temperature    4.8
2019-04-30 09:00:00+03:00  Temperature   7.15
2019-04-30 10:00:00+03:00  Temperature   8.85
2019-04-30 11:00:00+03:00  Temperature  10.07
2019-04-30 12:00:00+03:00  Temperature  10.56
2019-04-30 13:00:00+03:00  Temperature  11.33
2019-04-30 14:00:00+03:00  Temperature  12.34
2019-04-30 15:00:00+03:00  Temperature  12.65
2019-04-30 16:00:00+03:00  Temperature  12.15
2019-04-30 17:00:00+03:00  Temperature  11.51
2019-04-30 18:00:00+03:00  Temperature  11.05
2019-04-30 19:00:00+03:00  Temperature  10.72
2019-04-30 20:00:00+03:00  Temperature   9.74
2019-04-30 21:00:00+03:00  Temperature   8.53
2019-04-30 22:00:00+03:00  Temperature   7.08
2019-04-30 23:00:00+03:00  Temperature   5.74
2019-05-01 00:00:00+03:00  Temperature    4.8
2019-05-01 01:00:00+03:00  Temperature   4.16
2019-05-01 02:00:00+03:00  Temperature   3.91
2019-05-01 03:00:00+03:00  Temperature   3.27
2019-05-01 04:00:00+03:00  Temperature   2.92
2019-05-01 05:00:00+03:00  Temperature   2.53
2019-05-01 06:00:00+03:00  Temperature   2.72
2019-05-01 07:00:00+03:00  Temperature   4.48
2019-05-01 08:00:00+03:00  Temperature   6.68
2019-05-01 09:00:00+03:00  Temperature   8.83